<!DOCTYPE html>
<html>
<head>
  <title>Subscribem</title>
  <%= stylesheet_link_tag    "subscribem/application", media: "all" %>
  <%= javascript_include_tag "subscribem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<% if user_signed_in? %>
  Signed in as <%= current_user.email %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", subscribem.new_user_session_path %>
<% end %>
<%= link_to subscribem.root_url(subdomain: nil) do %>
  <strong><%= Subscribem::Engine::APPLICATION_NAME %></strong>
<% end %>
<% if current_account %>
  <%= link_to subscribem.root_url(subdomain: current_account.subdomain) do %>
    <strong><%= current_account.name %></strong>
  <% end %>
<% end %>
<%= yield %>

</body>
</html>
